

body { 
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("pain.jpg");
    display:block;
    width:100%;
    height:100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


 .header {

    height: 720px;
    width: 1900;

 }
   

a{
    text-decoration: none;
    color: orange;
        text-transform: uppercase;
    font-size : 20px;
    line-height: 13px;
    transition: color .3s ease;
  
}
   
   a:hover {
       color: black;
   }



.mainNavigation {
    display: flex;
    justify-content: center;
    margin-top: 40px;

   

}

.headertitle {
    display: flex;
    justify-content: center;
    font-size: 50px;
    text-transform: uppercase;
    color: orange;
    font-style: italic;
}

.Listcontainer {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    
}

.listItem {
    display: flex;
    margin-right: 30px;
    
}

.Listitem-link {
    color: grey;
    text-transform: uppercase;
}


